<!-- <a href="/logout">تسجيل خروج</a> -->

<mat-toolbar color="primary">
    <a routerLink="/projects" mat-raised-button color="accent" class="mx-3">عرض المشاريع</a>
    <a routerLink="/add" mat-raised-button color="accent" class="mx-3">إضافة مشروع</a>
    <a href="/logout" mat-raised-button color="accent" class="mx-3">تسجيل الخروج</a>

    <span class="spacer"></span>
        <div class="pu-brand brand">
	<img alt="" src="/assets/pu.png"/>
    </div>
	<div class="mx-2"></div>
    <div class="sohaguni-brand brand">
	<img alt="" src="/assets/sohagunilogo.png"/>
    </div>

</mat-toolbar>




<router-outlet></router-outlet>



